<tr id="<%= dom_id(transaction) %>">
  <td><%= transaction.user_id %></td>
  <td><%= transaction.from_cur %></td>
  <td><%= transaction.to_cur %></td>
  <td><%= transaction.from_val %></td>
  <td><%= transaction.to_val %></td>
  <td><%= transaction.rate %></td>
  <td><%= transaction.timestamp %></td>
</tr>
